form{
    border: 2px solid $maincolor;
    border-radius: 5px 5px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    box-shadow: 5px 5px 10px;
    align-items: center;
    margin-right: 40px;

    label{
        margin-right: 10px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: $maincolor;
        margin-bottom: 20px;
        font-weight: 600;
    }
    input[type=text]{
        text-transform: uppercase;
        outline: none;
        border: none;
        border: 1px solid grey;
        border-radius: 5px 5px;
        background: none;
        font-weight: 600;
        color:grey;
        text-align: center;
        padding: 15px 30px 15px 30px;
        background: white;
    }
    .sub{
        padding: 0;
        width: 120px;
        height: 100px;
        height: 30px;

    }
}

.sounds-container{
    display: flex;
}

.saved-sounds{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 300px;
}

.submitted{
    border: 2px solid firebrick;
    color: firebrick;
}

.submitted:hover{
    padding: 0;
}