$maincolor: #008B8B;

@import 'setup';
@import 'buttonstyles';
@import 'form';
@import 'responsive';
@import 'volumesliders';



// Global Styles

body{
    margin: 0;
    padding: 0;
    margin: 0 auto;
    font-size: 96.5%;
    font-family: 'Muli', sans-serif;
    background-image: url("../../public/photos/topography.png");
}

#app{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;
}

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    width: 90%;
    h1{
        color: $maincolor;
        font-weight: 300;
        font-size: 60px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Cabin Sketch', cursive;
        padding-bottom: 20px;
        border-bottom: 2px solid $maincolor;
    }
}

.tagline{
    text-transform: uppercase;
    font-size: 16px;
    color: grey;
    letter-spacing: 1px;
    padding: 10px 0;
}









