// Global Styles

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
    margin: 0;
    padding: 0;
    margin: 0 auto;
    font-size: 96.5%;
    font-family: 'Muli', sans-serif;
    background-image: url("/dev/photos/cork-wallet.png");

}

#app{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
}

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    width: 90%;
    h1{
        color: darkcyan;
        font-weight: 300;
        font-size: 60px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Cabin Sketch', cursive;
        padding-bottom: 20px;
        border-bottom: 2px solid darkcyan;
    }
}

.tagline{
    text-transform: uppercase;
    font-size: 16px;
    color: grey;
    letter-spacing: 1px;
    padding: 10px 0;
}

// Button Styles

.audioTriggers{
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px; 
    justify-content: center;
    margin: 100px 0 200px 0;
    
}

button{
    border: 2px solid darkcyan;
    width: 130px;
    height: 60px;
    color: darkcyan;
    background: none;
    border-radius: 10px 10px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 20px 10px 10px 10px;
    box-shadow: 5px 5px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    &:hover{
       padding-bottom: 5px;
    }
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

// Volume Sliders
input[type=range]{
    -webkit-appearance: none;
    width: 40%;
    margin: 12px 0;
}

input[type=range]:focus{
   outline: none;
}


input[type=range]{
  width: 60%;
  height: 4px;
  cursor: pointer;
  background: darkcyan;
  border-color: darkcyan;
}

// Highlighted buttons
.active{
    color: goldenrod;
    border: 2px solid goldenrod;
}

form{
    align-self: flex-end;
    padding-bottom: 40px;
    label{
        margin-right: 10px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: darkcyan;
    }
    input[type=text]{
        text-transform: uppercase;
        outline: none;
        border: none;
        border: 1px solid grey;
        border-radius: 5px 5px;
        background: none;
        font-weight: 600;
        color:grey;
        text-align: center;
    }
}


#bk-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

// Responsive

@media (max-width: 940px) {
    #app{
        height: auto;
    }

}



@media (max-width: 940px) {

}


@media (max-width: 768px) {
    .tagline{
        text-align: center;
        font-size: 20px; 
        line-height: 2rem;
    }

    .audioTriggers{
        margin: 0;
        padding-bottom: 50px;
        border-bottom: 2px dashed grey;
    }

    .button-container{
        width: 50%;
        align-items: space-around;
        button{
            width: 80%;
            margin-bottom: 40px;
        }
        input[type=range]{
             width: 50%;
        }
    }

    form{
        align-self: center;
        font-size: 20px;
        margin-top: 50px;
  
        padding-top: 10px;
        label{
            margin-bottom: 20px;
        }
    }
}


@media (max-width: 480px) {
    #app{
        align-items: space-around;
    }

    h1{
        margin: 0;
    }

    .tagline{
        text-align: center;
        font-size: 25px;
    }

    .button-container{
        width: 100%;
        button{
            width: 100%;
            font-size: 20px;
        }
        input[type=range]{
             width: 80%;
             margin-bottom: 30px;
        }
    }

    form{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}